@model Noums_eCommerce_UI.Areas.AdminNoums.ViewsModels.PicturesVM

@{
    ViewData["Title"] = "AddPictures";
}


<section id="sectionProductAdmin">



    <div class="ContainerProductAdmin">
        <p>
            <h4 class="card-title text-center ">Gestion d'images</h4>
        </p>

        <form asp-action="AddPictures" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="@Model.Picture.IdPictures" value="IdPictures" class="form-control" />*@
            <div class="form-group">
                <label asp-for="@Model.Picture.Name" class="control-label"></label>
                <input asp-for="@Model.Picture.Name" class="form-control" />
                <span asp-validation-for="@Model.Picture.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Picture.UrlPicture" class="control-label"></label>
                <input asp-for="@Model.Picture.UrlPicture" type="File" name="file" class="form-control" />
                <span asp-validation-for="@Model.Picture.UrlPicture" class="text-danger"></span>
            </div>

            <div class="form-group">

                @*<input asp-for="IdProduct_Fk" value="@ViewBag.product.IdProduct" type="hidden" class="form-control" />*@


            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-dark">Ajouter</button>
            </div>
        </form>
        <div class="form-group text-center">
            <a asp-action="Index">retour</a>
        </div>
        <div class="text-center  py-3 box-shadow">




        </div>




    </div>


    @foreach (var picture in @Model.Pictures.ToList())

        
            {<form asp-action="DeletePicture">
                    <input asp-for="@picture.IdPictures" value="@picture.IdPictures" class="form-control" />
                    <input asp-for="@picture.IdProduct_Fk" value="@picture.IdProduct_Fk" class="form-control" />
                    <input asp-for="@picture.UrlPicture" value="@picture.UrlPicture" class="form-control" />
                    <img src="~/images/ProductsImages/Pictures/@picture.UrlPicture" />
                    <p> @picture.Name <span><button class="text-danger my-3" style="background:none; border:none " type="submit"><i class="icofont-brand-nexus"></i></button></span></p>

                </form>             
        }


    </section>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
