@page  "/details/{idProduct:int}"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
<section>
    @if (idProduct > 0)
    {
        if (product != null)
        {
            <span>@product.Name</span>
            <span>@product.LongDescription</span>
            <span>@product.ShortDescription</span>
            <span>@product.SalesPrice</span> if (product.Quantity > 0)
            {
                <button class="btn btn-primary" type="button" @onclick="() => ExecuteDeleteCartItem(product.IdProduct)"> - </button>
                <button class="btn btn-primary" type="button" @onclick="() => ExecuteAddtoCart(product.IdProduct)"> + </button>
            }
            else
            {
                <button class="btn btn-primary" type="button">Rupture de sock </button>
            }
        }
        if (@User.UserName != null)
        {
            <form>
                formulaire de commentaire
            </form>

            // si produit acheter user peux faire un commentaire
        }
    }

</section>

@code {
    [Parameter] public int idProduct { get; set; }
    [CascadingParameter] private EventCallback notify { get; set; }
    [Inject] IProduct productService { get; set; }
    [Inject] ICart carteService { get; set; }
    [Inject] IHttpContextAccessor httpContextAccessor { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }
    [Inject] UserManager<AppUser> userManager { get; set; }
    [Inject] AppUser User { get; set; }
    private Cart LocalCart { get; set; }
    public Product product { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        LocalCart = await carteService.InitializeShoppingCart();
        await base.OnParametersSetAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        product = await productService.GetProductByIdAsync(idProduct);
        if (product == null)
        {
            navigationManager.NavigateTo("/");

        }
        User.UserName = httpContextAccessor.HttpContext.User.Identity.Name;
        if (User.UserName != null)
        {
            User = await userManager.FindByNameAsync(User.UserName);

        }
        await base.OnInitializedAsync();
    }

    private async Task ExecuteAddtoCart(int IdProduct)
    {
        await carteService.AddCart(IdProduct);
        await notify.InvokeAsync();
    }
    private async Task ExecuteDeleteCartItem(int IdProduct)
    {
        await carteService.DeleteItem(IdProduct);
        await notify.InvokeAsync();
    }
}
