@page "/Order"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity

<section>
    @if (orderVm.LocalCart != null)
    {
        if (orderVm.dispoIsChanged == true)
        {
            <p>Nous avons modifié certain(s) produit(s) votre panier est mis à jour<button type="button" @onclick="ResetIsMessage">compris !</button></p>
        }
        @foreach (var cartItem in orderVm.LocalCart.ListProducts)
        {
            <p>name: @cartItem.ProductName</p>
            <p>quantity:@cartItem.ProductQuantity </p>
            <p>sales price: @cartItem.ProductPrice</p>
            <p>Total par produit Ht: @cartItem.TotalItem.ToString("C")</p>
            <button class="btn btn-primary" type="button" @onclick="() => ExecuteDeleteCartItem(cartItem.ProductId)">- </button>
            <button class="btn btn-primary" type="button" @onclick="() => ExecuteAddtoCart(cartItem.ProductId)"> + </button>
        }
        @if (orderVm.LocalCart.Total > 0)
        {
            <span>Total: @orderVm.LocalCart.ListProducts.Sum(a => a.TotalItem)</span>
            <button class="btn btn-danger" type="button" @onclick="ExecuteClearCart">vider le panier</button>

            @if (@User.UserName != null)
            {
                <form>
                    paiement direct
                </form>
            }
            else
            {
                <EditForm Model="@orderVm.userTmp">
                    <DataAnnotationsValidator />
                    <div class="d-flex flex-column align-items-center w-50">
                        <p>
                            <label for="@orderVm.userTmp.FirstName"> </label>
                            <InputText @bind-Value="orderVm.userTmp.FirstName" />
                            <ValidationMessage For="() => orderVm.userTmp.FirstName" />
                        </p>
                        <p>
                            <label for="@orderVm.userTmp.LastName"> </label>
                            <InputText @bind-Value="orderVm.userTmp.LastName" />
                            <ValidationMessage For="() => orderVm.userTmp.LastName" />
                        </p>
                        <p>
                            <label for="@orderVm.userTmp.EmailTmp"> </label>
                            <InputText @bind-Value="orderVm.userTmp.EmailTmp" />
                            <ValidationMessage For="() => orderVm.userTmp.EmailTmp" />
                        </p>
                        <p>
                            <label for="@orderVm.userTmp.Address"> </label>
                            <InputText @bind-Value="orderVm.userTmp.Address" />
                            <ValidationMessage For="() => orderVm.userTmp.Address" />
                        </p>
                        <p>
                            <label for="@orderVm.userTmp.Country"> </label>
                            <InputText @bind-Value="orderVm.userTmp.Country" />
                            <ValidationMessage For="() => orderVm.userTmp.Country" />
                        </p>
                        <p>
                            <label for="@orderVm.userTmp.City"> </label>
                            <InputText @bind-Value="orderVm.userTmp.City" />
                            <ValidationMessage For="() => orderVm.userTmp.City" />
                        </p>
                        <p>
                            <label for="@orderVm.userTmp.CodeZip"> </label>
                            <InputText @bind-Value="orderVm.userTmp.CodeZip" />
                            <ValidationMessage For="() => orderVm.userTmp.CodeZip" />
                        </p>
                        <p>
                            <button type="submit" @onclick="()=>UserTmpValidation()">Submit</button>
                        </p>
                    </div>
                </EditForm>

            }
        }
        else
        {
            <p>Votre panier est vide</p>
        }
    }
    else
    {
        <p>Votre panier est vide</p>
    }
</section>

@code{
    [CascadingParameter] private EventCallback notify { get; set; }
    [Inject] ICart carteService { get; set; }
    [Inject] IOrder orderService { get; set; }
    [Inject] IShoppingUserTmp shoppingUserTmpService { get; set; }
    [Inject] UserManager<AppUser> userManager { get; set; }
    [Inject] AppUser User { get; set; }
    [Inject] IHttpContextAccessor httpContextAccessor { get; set; }
    private OrderVm orderVm = new OrderVm();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (orderVm.LocalCart != null)
            {
                orderVm.LocalCart = await carteService.UpdateCartInfos(orderVm.LocalCart, null);
                await ExecuteCheckDisponibility();
                await notify.InvokeAsync();
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    protected override async Task OnInitializedAsync()
    {
        orderVm.LocalCart = await carteService.InitializeShoppingCart();
        orderVm.userTmp = await shoppingUserTmpService.InitializeShoppingUserTmp();
        User.UserName = httpContextAccessor.HttpContext.User.Identity.Name;
        if (User.UserName != null)
        {
            User = await userManager.FindByNameAsync(User.UserName);
        }
        await base.OnInitializedAsync();
    }
    private async Task ExecuteAddtoCart(int IdProduct)
    {
        await carteService.AddCart(IdProduct);
        await notify.InvokeAsync();
    }
    private async Task ExecuteDeleteCartItem(int IdProduct)
    {
        await carteService.DeleteItem(IdProduct);
        await notify.InvokeAsync();
    }

    private async Task ExecuteClearCart()
    {
        await carteService.ClearCart();
        await notify.InvokeAsync();
    }
    private async Task UserTmpValidation()
    {
        if (
            orderVm.userTmp.LastName != null && orderVm.userTmp.FirstName != null && orderVm.userTmp.EmailTmp != null
            && orderVm.userTmp.Address != null && orderVm.userTmp.Country != null && orderVm.userTmp.City != null && orderVm.userTmp.CodeZip != null
            )
        {
            await shoppingUserTmpService.TransactionOrderUserTmp();
        }
    }
    private async Task ExecuteCheckDisponibility()
    {
        orderVm.dispoIsChanged = await carteService.CheckDisponibility();
        await notify.InvokeAsync();
    }
    private void ResetIsMessage()
    {
        orderVm.dispoIsChanged = false;
    }
}